$primary-background-color: rgb(180, 180, 180);
$alternate-background-color: rgb(167, 247, 211);
$navbar-color: #333;
$text-light: #EEE;
$text-light-green: #41B883;
$text-dark: #222;
$text-dark-green: rgb(0, 61, 34);

.page-background {
  background-color: $primary-background-color;
  margin-top: 12vh;
  height: 2000vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}